<div class="row-fluid">
    <div class="dossier-create-form">
        <h3 class="text-center text-primary">Create New Dossier</h3>
        <hr/>
        <form name="dcctrl.form" class="form-horizontal" novalidate>
            <div class="col-sm-12 col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Dossier</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="dcctrl.dossier.title" name="title" required>
                            </div>
                            <span class="text-danger col-sm-3" ng-show="!dcctrl.form.title.$valid">*Can not be empty</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description:</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" ng-model="dcctrl.dossier.description"/>  
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Region:</label>
                            <div class="col-sm-6">
                                <select class="form-control"
                                    ng-options="region for region in dcctrl.regions"
                                    ng-model="dcctrl.dossier.region">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Application Type:</label>
                            <div class="col-sm-6">
                                <select class="form-control"
                                    ng-options="applicationType for applicationType in dcctrl.applicationTypes"
                                    ng-model="dcctrl.dossier.applicationType">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">eCTD Version:</label>
                            <div class="col-sm-6">
                                <select class="form-control"
                                    ng-options="version for version in dcctrl.versions"
                                    ng-model="dcctrl.dossier.version">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Dosage Form:</label>
                            <div class="col-sm-6">
                                <select class="form-control" 
                                    ng-options="dosage for dosage in dcctrl.dosageForms"
                                    ng-init="dcctrl.dossier.dosageForm = dcctrl.dossier.dosageForm || dcctrl.dosageForms[0]"
                                    ng-model="dcctrl.dossier.dosageForm">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Applicant:</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" ng-model="dcctrl.dossier.applicant" name="applicant" required/>
                            </div>
                            <span class="text-danger col-sm-3" ng-show="!dcctrl.form.applicant.$valid">*Can not be empty</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Due Date:</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="date" placeholder="mm/dd/yyyy" name="dueDate"
                                    ng-model="dcctrl.dossier.dueDate"
                                    ng-min="dcctrl.today" 
                                    required/>
                            </div>
                            <span class="text-danger col-sm-3" ng-show="!dcctrl.form.dueDate.$valid">
                                *Entering future date is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">Drug Product</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Brand Name:</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" ng-model="dcctrl.dossier.productBrandName" 
                                    name="productBrandName" required/>
                            </div>
                            <span class="text-danger col-sm-3" ng-show="!dcctrl.form.productBrandName.$valid">*Can not be empty</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Generic Name:</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" ng-model="dcctrl.dossier.productGenericName" 
                                    name="productGenericName" required/>
                            </div>
                            <span class="text-danger col-sm-3" ng-show="!dcctrl.form.productGenericName.$valid">*Can not be empty</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Manufacturer: </label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" ng-model="dcctrl.dossier.productManufacturer" 
                                name="productManufacturer" required/>
                            </div>
                            <span class="text-danger col-sm-3" ng-show="!dcctrl.form.productManufacturer.$valid">*Can not be empty</span>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ATC code: </label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" ng-model="dcctrl.dossier.atcCode" 
                                name="atcCode" ng-pattern="'[A-Za-z0-9]+$'" required/>
                            </div>
                            <div class="col-sm-3">
                                <span class="text-danger" ng-show="!dcctrl.form.atcCode.$valid-required">
                                    *Can not be empty
                                </span>
                                <span class="text-danger" ng-show="!dcctrl.form.atcCode.$valid-pattern">
                                    *Should be alphanumeric
                                </span> 
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Drug Substances</div>
                    <div class="panel-body">
                        <div ng-repeat="ds in dcctrl.dossier.drugSubstances">
                            <label class="col-sm-1 control-label">Name: </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="ds.name"/>
                            </div>
                            <label class="col-sm-2 control-label">Manufacturer: </label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" ng-model="ds.manufacturer"/>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-danger pull-right" ng-click="dcctrl.removeDrugSubstance($index)">-</button>
                            </div>
                            <br/><br/>
                        </div>
                        <div class="col-sm-12">
                            <br/>
                            <span class="text-info">*Drug Substances can be added later</span>
                            <button class="btn btn-default pull-right" ng-click="dcctrl.addDrugSubstance()">Add New</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button class="btn btn-lg btn-primary pull-right" ng-click="dcctrl.submitNewDossier()" ng-disabled="!dcctrl.form.$valid">Submit</button>
            </div>
        </form>
    </div>
</div>