<div class="container-fluid">
    <div class="row-fluid">
        <h3 class="text-center text-primary">{{ddctrl.title}}</h3>
        <hr/>
        <div class="col-md-3">
            <h5>{{ddctrl.folderTree.name}}</h5>
            <div class="hideMe">
                {{ddctrl.folderTree}}
            </div>
        </div>
        <div class="col-md-6">
            Selected File to be displayed here
        </div>
        <div class="col-md-3">
            <h4>{{ddctrl.dossier.Title}}</h4>
            <div class="hideMe">
                {{ddctrl.dossier}}
            </div>
        </div>
    </div>
</div>